<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Profile</title>
</head>
<body>
  <h1>Welcome, <%= user.displayName %></h1>
  <p>Email: <%= user.emails[0].value %></p>
  <a href="/logout">Logout</a>
</body>
</html>
